.card-stage {
    position: relative;
    height: 400px;
}

.course-container {
    margin: auto;
    max-width: 800px;
}

.flash-card {
    background: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transition: all 0.5s ease-in-out;
}



::deep .preview-wrong,
::deep .preview-right {
    padding: 12px;
    background: lightgreen;
}
::deep .preview-wrong {
    background: red;
}
.animate-in {
    animation: slideUp 0.4s forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
