@implements DataLayer.Generators.IGenerator<DataLayer.Entities.Pack>
@code {
    [Parameter] public Type? Lesson { get; set; }

    public static IEnumerable<DataLayer.Entities.Pack> Generate()
    {
        var newItem = CourseMenu.GetCourse(typeof(Course3));

        return newItem?.Children.Select(mi => new DataLayer.Entities.Pack() { Title = mi.Title, CourseId = 0 }) ?? [];
    }

}

@if (Lesson == typeof(IntroToStrategies))
{
    <h2>Introduction to study strategies <span class="badge bg-secondary">10 minutes</span></h2>
    <ul>
        <li>What self-testing is</li>
        <li>Why self-testing is so effective</li>
    </ul>
}
else if (Lesson == typeof(GroupStudy))
{
    <h2>Group study <span class="badge bg-secondary">10 minutes</span></h2>
    <ul>
        <li>When and why a study group can be helpful</li>
        <li>How to organize a study group</li>
        <li>What to do when you meet as a study groups</li>
    </ul>
}
else if (Lesson == typeof(TeachToLearn))
{
    <h2>Teaching to learn <span class="badge bg-secondary">10 minutes</span></h2>
    <ul>
        <li>What the teaching to learn strategy is</li>
        <li>How teaching to learn works</li>
        <li>How to use it even when you don't have someone to teach</li>
    </ul>
}
else if (Lesson == typeof(ActiveReading))
{
    <h2>Active reading <span class="badge bg-secondary">10 minutes</span></h2>
    <ul>
        <li>What active reading is</li>
        <li>Why it is important</li>
        <li>How to use it</li>
    </ul>
}
else if (Lesson == typeof(SpacedRepetition))
{
    <h2>Spaced repetition <span class="badge bg-secondary">10 minutes</span></h2>
    <ul>
        <li>What the Forgetting Curve is</li>
        <li>How to defeat it</li>
        <li>How to use flash cards to complete a spaced repetition study session</li>
    </ul>
}