.card-stage {
    position: relative;
}

.course-container {
    margin: auto;
    max-width: 800px;
}

.flash-card {
    background: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 20px 40px rgba(255,255,255,0.8), 0 10px 20px rgba(0,0,0,1.0);
    /*transition: all 0.5s ease-in-out;*/
    max-height: 400px;
    max-height: calc(100vh - 5.7rem);
    overflow: auto;
}



::deep .preview-wrong,
::deep .preview-right {
    padding: 12px;
    background: lightgreen;
}
::deep .preview-wrong {
    background: red;
}
.animate-in {
    animation: slideUp 0.4s forwards;
}

::deep input.large-present {
    height: 0;
    width: 0;
    border: 0;
    opacity: 0;
    position: absolute;
    top: -10px;
    left: 10px;
}

    ::deep input.large-present + label[for] {
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        border: 2px solid lightgrey;
        flex-basis: 100%;
    }

    ::deep input.large-present + label[for]:hover
    {
        background: lightgreen;

    }

        ::deep input.large-present:checked + label[for]
        {
            border-width:10px;
            border-color:lightgreen;
        }

        ::deep .Answers-form-field {
            display: flex;
            flex-direction: column;
        }


    @keyframes slideUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
