
@if (Lesson == typeof(Introduction))
{
    @* Introduction Reward *@
    <h2>Clearly you have some swag. Let's get started!</h2>
    <div class="meme-container">
        <img src="bundles/course1/images/reward1.gif" alt="Victory Meme" />
    </div>
    <div class="award">
        <h3>Badge awarded:</h3>
        <span class="medal"></span>
        <strong>Pulse Detected</strong>
        <div class="description">
            "Yep, you are alive. Now let's get started."
        </div>
    </div>
}
else if (Lesson == typeof(SettingGoals))
{
    @* Setting Goals Reward *@
    <h2>Set goals like a ninja!</h2>
    <div class="meme-container">
        <img src="bundles/course1/images/reward2.gif" alt="Victory Meme" />
    </div>
    <div class="award">
        <h3>Badge awarded:</h3>
        <span class="medal setup-hours"></span>
        <strong>Goal Setting</strong>
        <div class="description">
            "You now know how to set good goals and are pointed in the right direction. All that remains is that trivial detail of accomplishing those goals."
        </div>
    </div>
}
else if (Lesson == typeof(Procrastination))
{
    @* Procrastination Reward *@
    <h2>Baby goat is tired of your procrastination excuses.</h2>
    <div class="meme-container">
        <img src="bundles/course1/images/reward3.gif" alt="Victory Meme" />
    </div>
    <div class="award">
        <h3>Badge awarded:</h3>
        <span class="medal beaver"></span>
        <strong>Eager Beaver</strong>
        <div class="description">
            "We know you don't want to waste another minute not studying. We have many more tools for you to help stop procrastinating."
        </div>
    </div>
}
else if (Lesson == typeof(Distractions))
{
    @* Distractions Reward *@
    <h2>Don't let others distract you...</h2>
    <div class="meme-container">
        <img src="bundles/course1/images/reward4.gif" alt="Victory Meme" />
    </div>
    <div class="award">
        <h3>Badge awarded:</h3>
        <span class="medal squirrel"></span>
        <strong>Master of focus</strong>
        <div class="description">
            "You are now impervious to distractions and can....oh look....a squirrel..."
        </div>
    </div>
}
else if (Lesson == typeof(StudyEnvironment))
{
    @* Environment Reward *@
    <h2>Leave your distractions behind you!</h2>
    <div class="meme-container">
        <img src="bundles/course1/images/reward5.gif" alt="Victory Meme" />
    </div>
    <div class="award">
        <h3>Badge awarded:</h3>
        <span class="medal beginner-brain"></span>
        <strong>Big brain</strong>
        <div class="description">
            "Clearly your brain is swelling with knowledge now. You now have the knowledge to set up an effective study environment."
        </div>
    </div>
}
else if (Lesson == typeof(Partners))
{
    @* Partners Reward *@
    <h2>Sometimes your best friend can be a poor choice...</h2>
    <div class="meme-container">
        <img src="bundles/course1/images/reward6.gif" alt="Victory Meme" />
    </div>
    <div class="award">
        <h3>Badge awarded:</h3>
        <span class="medal setup-linked"></span>
        <strong>Partner pair</strong>
        <div class="description">
            "Using an accountability partner can give you a great boost in school. You have learned about the concept, now invite someone to help!"
        </div>
    </div>
}
else if (Lesson == typeof(EndOfLevel1))
{
    @* Level Complete Reward *@
    <h2>Congratulations on completing Study Sauce level 1</h2>
    <div class="meme-container">
        <img src="bundles/course1/images/reward7.gif" alt="Victory Meme" />
    </div>
    <div class="award">
        <h3>Badge awarded:</h3>
        <span class="medal beginner-apples"></span>
        <strong>Level 1 Complete</strong>
        <div class="description">
            "Well done. You have completed the first part of the course. Keep going!"
        </div>
    </div>
}

@code {
    [Parameter] public Type? Lesson { get; set; }
}