@page "/permissions"
@using StudySauce.Shared.Services
@inject IMenuService MenuService


<SyncedTitle Title="User Permissions"></SyncedTitle>

<div class="flash-card animate-in">
</div>


@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        MenuService?.SetMenu(@<StudySauce.Shared.Pages.Shared.Settings />);

    }


}