@page "/status"

<h2>Recent Errors</h2>

Shows a list of any recent application generated errors.

<h2>Integration Status</h2>

Shows status related to connecting to other platforms.

<h2>Connectivity Status</h2>

Shows status for application network access like download and backups.
