@using DataLayer.Customization


@code
{
    public bool IsIntro;
}

@foreach (var item in (IEnumerable<INavMenuItem>)(IsIntro ? IntroLinks : CourseLinks))
{
    <NavLink class="header-link" href="@item.Href" Match="NavLinkMatch.All">
        <i class="bi @item.Icon" aria-hidden="true"></i>
        <span class="header-text">@item.Title</span>
    </NavLink>
}

@code {
    [Parameter] public int? Level { get; set; }
    [Parameter] public string? Lesson { get; set; }
    [Parameter] public int? Step { get; set; }
    public ICourseMenuItem? ActiveItem { get; set; }

    public class SharedMenuItem : NavMenuItem<Pages.Course.Course>
    {
        public StepMode Step { get; set; }

        public Func<StepMode, string>? GetHref { get; set; }

        public override string Href { 
            get
            {
                return GetHref != null ? GetHref(Step) : throw new InvalidOperationException("Set the callback on the SharedMenuItem first.");
            } 
        }
    }

    public string GetHref(StepMode Step)
    {
        return NavigationExtensions.GetUri<Pages.Course.Course>(c => new() { Step = Step, Level = Level, Lesson = Lesson });
    }

    protected override void OnParametersSet()
    {
        ActiveItem = CourseMenu.GetActiveItem(Level, Lesson);
        IsIntro = Level == null || Lesson == null; // || Step == (int)StepMode.Intro;
    }

    public Course()
    {
        CourseLinks = new()
        {
            new() { GetHref = GetHref, Title = "Introduction", Step = StepMode.Intro, Icon = "bi-megaphone" },
            new() { GetHref = GetHref, Title = "Video",        Step = StepMode.Video, Icon = "bi-play-btn" },
            new() { GetHref = GetHref, Title = "Quiz",         Step = StepMode.Quiz,  Icon = "bi-pencil-square" },
            new() { GetHref = GetHref, Title = "Reward",       Step = StepMode.Reward, Icon = "bi-trophy" },
            new() { GetHref = GetHref, Title = "Investment",   Step = StepMode.Investment, Icon = "bi-bank" }
        };
    }

    public static List<CourseMenuItem> IntroLinks = new()
    {
        new() { Title = "Introduction", Lesson = typeof(Pages.Course.Introduction), Icon = "bi-play-circle" },
        new() { Title = "Course 1", Lesson = typeof(Pages.Course.Course1), Icon = "bi-book" },
        new() { Title = "Course 2", Lesson = typeof(Pages.Course.Course2), Icon = "bi-journal-bookmark" },
        new() { Title = "Course 3", Lesson = typeof(Pages.Course.Course3), Icon = "bi-mortarboard" },
        new() { Title = "Study Tools", Lesson = typeof(Pages.Course.SpacedRepetition), Icon = "bi-award" }
    };

    public List<SharedMenuItem> CourseLinks;
}

