@foreach (var item in HeaderLinks)
{
    <NavLink class="header-link" href="@item.Href" Match="NavLinkMatch.All">
        <i class="bi @item.Icon" aria-hidden="true"></i>
        <span class="header-text">@item.Title</span>
    </NavLink>
}

@code {
    private List<NavMenuItem> HeaderLinks = new()
    {
        new() { Title = "Introduction", Href = NavigationExtensions.GetUri<Pages.Course.Course>(), Icon = "bi-info-circle" },
        new() { Title = "Course 1", Href = NavigationExtensions.GetUri<Pages.Course.Course>(c => new() { Level = 1 }), Icon = "bi-file-earmark-text" },
        new() { Title = "Course 2", Href = NavigationExtensions.GetUri<Pages.Course.Course>(c => new() { Level = 2 }), Icon = "bi-shield-lock" },
        new() { Title = "Course 3", Href = NavigationExtensions.GetUri<Pages.Course.Course>(c => new() { Level = 3 }), Icon = "bi-envelope-at" },
        new() { Title = "Study Tools", Href = NavigationExtensions.GetUri<Pages.Course.Course>(), Icon = "bi-envelope-at" }
    };

}

