@foreach (var item in HeaderLinks)
{
    <NavLink class="header-link" href="@item.Href" Match="NavLinkMatch.All">
        <i class="bi @item.Icon" aria-hidden="true"></i>
        <span class="header-text">@item.Title</span>
    </NavLink>
}

@code {
    private List<INavMenuItem> HeaderLinks = new()
    {
        new NavMenuItem<Pages.Landing.Search>() { Title = "Search", Icon = "bi-info-circle" },
        new NavMenuItem<Pages.Landing.Packs>() { Title = "Create Pack", Icon = "bi-file-earmark-add" },
        new NavMenuItem<Pages.Landing.Packs>() { Title = "My Packs", Icon = "bi-file-earmark-text" },
        new NavMenuItem<Pages.Landing.Packs>() { Title = "Purchases", Icon = "bi-shield-lock" },
        new NavMenuItem<Pages.Landing.Packs>() { Title = "Subscribe", Icon = "bi-envelope-at" }
    };

}

