@foreach (var item in HeaderLinks)
{
    <NavLink class="header-link" href="@item.Href" Match="NavLinkMatch.All">
        <i class="bi @item.Icon" aria-hidden="true"></i>
        <span class="header-text">@item.Title</span>
    </NavLink>
}

@code {
    private List<INavMenuItem> HeaderLinks = new()
    {
        new NavMenuItem<Pages.Landing.About>() { Title = "About Us", Icon = "bi-info-circle" },
        new NavMenuItem<Pages.Landing.Terms>() { Title = "Terms", Icon = "bi-file-earmark-text" },
        new NavMenuItem<Pages.Landing.Privacy>() { Title = "Privacy", Icon = "bi-shield-lock" },
        new NavMenuItem<Pages.Landing.Contact>() { Title = "Contact", Icon = "bi-envelope-at" }
    };

}

