@foreach (var item in HeaderLinks)
{
    <NavLink class="header-link" href="@item.Href" Match="NavLinkMatch.All">
        <i class="bi @item.Icon" aria-hidden="true"></i>
        <span class="header-text">@item.Title</span>
    </NavLink>
}

@code {
    private List<INavMenuItem> HeaderLinks = new()
    {
        new NavMenuItem<Pages.Landing.Search>() { Title = "Search", Icon = "bi-info-circle" },
        new NavMenuItem<Pages.Admin.Users>() { Title = "Add User", Uri = u => new () {ControlMode = DataLayer.Customization.ControlMode.Add}, Icon = "bi-person-plus" },
        new NavMenuItem<Pages.Admin.Groups>() { Title = "Groups", Icon = "bi-collection" },
        new NavMenuItem<Pages.Admin.Activity>() { Title = "Activity", Icon = "bi-activity" },
        new NavMenuItem<Pages.Admin.Status>() { Title = "Status", Icon = "bi-exclamation-triangle" }
    };

}

