@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@code
{
    [Parameter] public IEnumerable<Controls.CardsControl.ViewCard>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }
    public DataLayer.Customization.ControlMode Mode
    {
        get
        {
            // TODO: declaring type
            return DataLayer.Customization.ControlMode.View;
        }
    }
    private IEnumerable<PropertyMetadata>? CardLayout;
    protected override void OnInitialized()
    {
    }

}

@foreach (var answer in Data?.ElementAt(0).Answers ?? [])
{
    <input class="large-present" type="radio" value="@answer.Content" id="@answer.Content.ToSafe()" name="@Data?.ElementAt(0).Card?.Content.ToSafe()" />
    <label for="@answer.Content.ToSafe()">@answer.Content</label>
}
