@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{
    public class EditCard
    {
        public static EntityMetadata Metadata => new EntityMetadata(typeof(EditCard));
        public DataLayer.Entities.Card? Card { get; set; }

        [Category("Answers")]
        [JsonIgnore]
        public ICollection<Answer>? Answers { get => Card?.Answers; }
    }

    public class ViewCard
    {
        public static EntityMetadata Metadata => new EntityMetadata(typeof(ViewCard));
        [Category("Content")]
        [Display(Name = "Cards", GroupName = "Display", Description = "Card currently being viewed by the user")]
        public DataLayer.Entities.Card? Card { get; set; }
        [Category("Answers")]
        [JsonIgnore]
        public ICollection<Answer>? Answers { get => Card?.Answers; }
    }

    [Parameter] public IEnumerable<ViewCard>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }
    public DataLayer.Customization.ControlMode Mode
    {
        get
        {
            return Model?.DeclaringType == typeof(EditCard) ? DataLayer.Customization.ControlMode.Edit : DataLayer.Customization.ControlMode.View;
        }
    }
    private IEnumerable<PropertyMetadata>? CardLayout;
    protected override void OnInitialized()
    {
        CardLayout = ViewCard.Metadata.Groups["Display"]?.ToList();
    }

}

This is a list of cards
@if (Mode == DataLayer.Customization.ControlMode.Edit)
{
    <span>Editing list of cards</span>
    @* TODO: repeat all controls of CardControl for every card in new Data property *@
    <MetadataControl TModel="PropertyMetadata" Model="@CardLayout"></MetadataControl>

}
else
{
    <span>Viewing list of cards</span>
    @foreach (var card in Data ?? [])
    {
        <MetadataControl TModel="PropertyMetadata" Model="@CardLayout"></MetadataControl>
    }
}