@using System.ComponentModel
@using System.Reflection

<label>@Model?.DisplayName</label>

@if (Model != null)
{
    <select @bind="Value">
        @foreach (var value in EnumValues)
        {
            var attribute = EnumType?.GetField(value.ToString()!)?.GetCustomAttribute<DescriptionAttribute>();
            <option value="@value.ToString()">@(attribute != null ? attribute.Description : value.ToString())</option>
        }
    </select>
}


@code {

    [Parameter] public IEnumerable<object?>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object>? ValueChanged { get; set; }
    public object[] EnumValues
    {
        get
        {
            return EnumType == null ? [] :  Enum.GetValues(EnumType).Cast<object>().ToArray();
        }
    }
    public System.Type? EnumType {
        get
        {
            if (Model == null) return default(Type);
            return Nullable.GetUnderlyingType(Model.PropertyType) ?? Model.PropertyType;
        }
    }

    string? _value = null;
    public string? Value
    {
        get
        {
            if (Data?.ElementAt(0) == null) return _value;
            if (Data.ElementAt(0) is DataLayer.Entities.Setting setting)
            {
                return setting.Value;
            }
            else
            {
                return Model?.GetValue(Data.ElementAt(0)!)?.ToString() ?? _value;
            }
        }
        set
        {
            _value = value;
            if (Data?.ElementAt(0) != null)
            {
                if (Data.ElementAt(0) is DataLayer.Entities.Setting setting)
                {
                    setting.Value = value;
                }
                else
                {
                    Model?.SetValue(Data.ElementAt(0)!, value);
                }
            }

            if (EnumType != null && Enum.TryParse(EnumType, value, true, out var myEnum))
            {
                ValueChanged?.InvokeAsync(myEnum);
            }
            else
            {
                ValueChanged?.InvokeAsync(value);
            }
        }
    }

}
