@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@code
{
    public class ViewPack
    {
        public static EntityMetadata Metadata => new EntityMetadata(typeof(ViewPack));
        public DataLayer.Entities.Pack? Pack { get; set;  }
        [Category("Content")]
        [Display(Name = "Cards", GroupName = "Display", Description = "Set of card content to display to users")]
        public ICollection<Controls.CardsControl.ViewCard> Cards { get; set; } = new HashSet<Controls.CardsControl.ViewCard>();

    }

    public class EditPack
    {
        public static EntityMetadata Metadata => new EntityMetadata(typeof(EditPack));
        public DataLayer.Entities.Pack? Pack { get; set; }

    }


    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }
    public DataLayer.Customization.ControlMode Mode
    {
        get
        {
            return Model?.DeclaringType == typeof(EditPack) ? DataLayer.Customization.ControlMode.Edit : DataLayer.Customization.ControlMode.View;
        }
    }
    private IEnumerable<PropertyMetadata>? CardLayout;
    protected override void OnInitialized()
    {
        CardLayout = EntityMetadata.Card.Groups["Display"]?.ToList();
    }

}

This is a pack
@if(Mode == DataLayer.Customization.ControlMode.Edit)
{
    <span>Editing</span>
    <MetadataControl TModel="PropertyMetadata" Model="@CardLayout"></MetadataControl>

} else
{
    <span>Viewing</span>
}