@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using System.Text.Json.Serialization
@code
{

    [Parameter] public IEnumerable<Controls.PackControl.ViewPack>? Data { get; set; }
    [Parameter] public PropertyMetadata? Model { get; set; }
    [Parameter] public EventCallback<object> ValueChanged { get; set; }
    public DataLayer.Customization.ControlMode Mode
    {
        get
        {
            return Model?.DeclaringType == typeof(Controls.PackControl.EditPack) ? DataLayer.Customization.ControlMode.Edit : DataLayer.Customization.ControlMode.View;
        }
    }
}



@if (Mode == DataLayer.Customization.ControlMode.Edit)
{

}
else
{
    <heading class="flex-row">
        <label></label>
        <label>Pack Name</label>
        <label>Category</label>
        <label>Card Count</label>
        <label>Last Studied</label>
        <label>Actions</label>
    </heading>
    @foreach (var pack in Data ?? [])
    {
        <div class="flex-row">
            <img src="@(pack.Pack?.LogoHosted ?? pack.Pack?.Logo?.Url)" />
            <span><a href="">@pack.Pack?.Title</a></span>
            <span>@pack.Pack?.Tags</span>
            <span>@pack.Pack?.Cards.Count()</span>
            <span>@*@pack.Pack?.UserPacks.Where(up => up.User == )*@ Never studied</span>
            <span><a href=""><span class="bi bi-pencil"></span></a></span>
        </div>
    }
}