
.top-row > span:first-child,
.top-row > .contextual-menu {
    flex-grow: 1;
}

.top-row > .contextual-menu {
    white-space: nowrap;
    max-width: 100%;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    max-width: 1000px;
    transition: max-width ease-in-out 0.6s;
}


.top-row > * {
    flex-shrink: 1;
    transition: color ease-in-out 0.6s;
    color: white;
}

.top-row > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    min-width: 0;
    margin: 0;
}

.page .top-row > a,
.page .contextual-menu a {
    color: white;
    transition: color ease-in-out 0.6s;
}

.top-row > h2 ~ .contextual-menu {
    display: flex;
    align-items: flex-end;
}


.top-row a, .top-row .btn-link {
    white-space: nowrap;
    text-decoration: none;
}

.top-row a:hover, .top-row .btn-link:hover {
    text-decoration: underline;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}


.header-link {
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 0px 2px;
    border-radius: 6px;
    color: #6c757d;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
}

/* The "Highlight" state for the current page */
.header-link.active {
    border-color: rgba(13, 110, 253, 0.2);
    font-weight: 600;
}

.header-link:hover:not(.active) {
}

.header-text {
    font-size: 0.9rem;
}
