

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: 2px;
    background-size: cover;
}

.page .nav-children {
    transition: max-height ease-in-out 0.6s;
    max-height: 1000px;
    overflow: hidden;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    transition: width ease-in-out 0.6s;
    /* Your original colors + a repeat to make the transition seamless */
    background: linear-gradient( 125deg, rgb(5, 39, 103) 0%, #3a0647 40%, rgb(10, 50, 120) 70%, #4a085c 100% );
    /* Make the background much larger than the div */
    background-size: 400% 400%;
    /* The "Subtle" part: slow duration (15s+) */
    animation: waveMovement 18s ease infinite;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}


.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item .nav-link {
    color: white;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 24px;
    text-decoration: none;
    display: flex;
}

.nav-text {
    text-overflow: ellipsis;
    flex-basis: 100%;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

.nav-item {
    font-size: 0.9rem;
    padding: 0.5rem;
    text-wrap: nowrap;
    max-width: 100%;
    cursor: pointer;
    user-select: none;
    transition: color ease-in-out 0.6s;
}

.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes waveMovement {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (min-width: 640px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


