
.page.study-mode .canvas-container {
    left: 40px;
}

.page.study-mode .sidebar {
    width: 80px;
}

.page.study-mode .nav-scrollable {
    color: transparent;
    overflow: hidden;
}

.page.study-mode .nav-scrollable > .nav {
    max-height: calc(100vh - 3.5rem);
}

.page.study-mode .bi-chevron-down,
.page.study-mode .bi-chevron-left,
.page.study-mode .bi-chevron-right {
    color: transparent;
    display: none;
}

.page.study-mode .nav-children {
    max-height: 0;
}

.page.study-mode .nav-link:hover,
.page.study-mode .nav-link {
    color: transparent;
}

.page.study-mode .nav-link:hover span.bi,
.page.study-mode .nav-link span.bi {
    color: white;
}

.page.study-mode .top-row > a {
    color: transparent;
}

.page.study-mode .contextual-menu {
    pointer-events: none;
    max-width: 0;
    flex-shrink: 1;
    min-width: 0;
}

.page.study-mode .top-row > a,
.page.study-mode .contextual-menu a {
    color: transparent;
    pointer-events: none;
}

.page.study-mode .navbar-brand {
    color: transparent;
}

@media (max-width: 640px) {

    .page.study-mode .sidebar {
        width: auto;
    }

    .page.study-mode .bi-chevron-down,
    .page.study-mode .bi-chevron-left,
    .page.study-mode .bi-chevron-right {
        display: inline-block;
        color: white;
    }

    .page.study-mode .nav-item .nav-link,
    .page.study-mode .navbar-brand {
        color: white;
    }

    .page.study-mode .nav-children,
    .page.study-mode .nav-scrollable > .nav {
        max-height: none;
    }
}


