
.badge.bg-secondary {
    background: lightgrey;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    white-space: nowrap;
}

.page .bi-chevron-down,
.page .bi-chevron-left,
.page .bi-chevron-right {
    transition: color ease-in-out 0.6s;
}

/* accordion */


h4.inactive ~ *:not(h4) {
    display: none;
}

h4.header-active ~ *:not(h4) {
    display: inline-block;
}

h4.header-active ~ *:not(h4) ~ .h4.inactive ~ *:not(h4) {
    display: none;
}

/* blazor error */


#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.container-logo {
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
}

.container-logo > * {
    vertical-align: middle;
    margin: auto 0;
}

.container-logo > img {
    margin: auto 15px;
    cursor: pointer;
}

.navbar-brand {
    font-size: 1.1rem;
    transition: color ease-in-out 0.6s;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.navbar-brand:hover {
    text-decoration: none;
}

input.large-present {
    height: 0;
    width: 0;
    border: 0;
    opacity: 0;
    position: absolute;
    top: -10px;
    left: 10px;
}

input.large-present + label[for] {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid lightgrey;
    flex-basis: 100%;
    margin: 5px;
}

input.large-present + label[for]:hover {
    background: lightgreen;
}

input.large-present:checked + label[for] {
    border-width: 10px;
    border-color: lightgreen;
}
