
.badge.bg-secondary {
    background: lightgrey;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    white-space: nowrap;
}

.page .bi-chevron-down,
.page .bi-chevron-left,
.page .bi-chevron-right {
    transition: color ease-in-out 0.6s;
}

button.deemphasize
{
    background: none;
    border: none;
    color: lightgrey;
    text-decoration:none;
    cursor: pointer;
}

a.cta,
button.cta {
    padding: 8px;
    background: darkorange;
    color: white;
    text-shadow: 0px 1px 5px black;
    margin-left:auto;
    cursor:pointer;
    border-radius: 5px;
    border:2px solid lightgrey;
}

button.cta:hover {
    text-decoration: underline;
}

button.deemphasize:hover {
    text-decoration: underline;
}



/* accordion */
.accordion-item h4 {
    display:flex;
    justify-content: space-between;
    color: #212529; /* --bs-accordion-color */
    background-color: #fff; /* --bs-accordion-bg */
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); /* --bs-accordion-border-width / --bs-accordion-border-color */
}

h4.inactive ~ *:not(h4) {
    display: none;
}

h4.header-active ~ *:not(h4) {
    display: inline-block;
}

h4.header-active ~ *:not(h4) ~ .h4.inactive ~ *:not(h4) {
    display: none;
}

/* blazor error */


#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.container-logo {
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
}

.container-logo > * {
    vertical-align: middle;
    margin: auto 0;
}

.container-logo > img {
    margin: auto 15px;
    cursor: pointer;
}

.navbar-brand {
    font-size: 1.1rem;
    transition: color ease-in-out 0.6s;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.navbar-brand:hover {
    text-decoration: none;
}

input.large-present {
    height: 0;
    width: 0;
    border: 0;
    opacity: 0;
    position: absolute;
    top: -10px;
    left: 10px;
}

.preview-response {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid lightgrey;
    margin: 5px;
}

.preview-response.correct {
    border-color: lightgreen;
}

.preview-response.wrong {
    border-color: red;
}

.preview-prompt {
    display:block;
    padding: 10px;
    background:#DDDDDD;
    border-left: 4px solid darkorange;
    margin: 10px 10px 20px 10px;
}


input.large-present + label[for] {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid lightgrey;
    flex-basis: 100%;
    margin: 5px;
}

input.large-present + label[for]:hover {
    background: lightgreen;
}

input.large-present:checked + label[for] {
    border-width: 10px;
    border-color: lightgreen;
}

.flex-row
{
    display:flex;
    vertical-align: middle;
    align-items: center;
}

.flex-row > * {
    flex-basis: 20%;
    padding: 0 10px;
}

.flex-row img {
    padding: 0;
    max-height: 48px;
    max-width: 48px;
}

heading.flex-row
{
    font-weight:bold;
}

heading.flex-row > * {
    padding: 0 10px;
}

.flex-row > *:first-child {
    max-width: 48px;
}

.Recent-form-field .flex-row > *:nth-child(4) {
    text-align:center;
}

.Recent-form-field .flex-row > *:nth-child(5) {
    text-align: right;
}

.Currentusers-form-field .flex-row > *:nth-child(4) {
    text-align: center;
}

.flex-row > *:last-of-type {
    text-align: right;
    max-width: 48px;
    white-space:nowrap;
}

.Recent-form-field .flex-row > * {
    vertical-align: middle;
}


.user-avatar
{
    border: 3px solid lightgrey;
    padding: 15px;
    display:flex;
    flex-direction:column;
    text-align:center;
    margin: 10px;
    justify-content:space-between;
}


.user-avatar > a:first-child {
    color: darkgrey;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor:pointer;
}

.user-avatar > a:first-child:hover
{
    text-decoration:underline;
}


.user-avatar img {
    border-radius: 50%;
    margin: auto;
}


.page.Users .flex-row span:first-child .bi,
.user-avatar > a:first-child .bi {
    border-radius: 50%;
    margin: auto;
    font-size: 32px;
    height: 54px;
    width: 54px;
    background: blue;
    color: white;
    padding: 10px;
}

.page.Users .flex-row span:first-child .bi {
    font-size: 24px;
    height: 44px;
    width: 44px;
}

.user-list {
    display: flex;
}

.user-list > *
{
    flex-basis: 25%;
}
