

.tab-tracker {
    list-style: none;
    font-size: 40px;
    position: sticky;
    bottom: 0px;
    left: 0;
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    pointer-events: none;
    color: grey;
}

.tab-tracker li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.step0 .tab-tracker li:first-child,
.step1 .tab-tracker li:nth-child(2),
.step2 .tab-tracker li:nth-child(3),
.step3 .tab-tracker li:nth-child(4),
.step4 .tab-tracker li:nth-child(5),
.step5 .tab-tracker li:nth-child(6),
.step6 .tab-tracker li:nth-child(7),
.step7 .tab-tracker li:nth-child(8),
.step8 .tab-tracker li:nth-child(9),
.step9 .tab-tracker li:nth-child(10) {
    font-size: 60px;
    color: #0099BB;
}
