<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="_content/StudySauce.Shared/css/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="_content/StudySauce.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/StudySauce.Shared/css/app.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/StudySauce.styles.css" />
    <link rel="stylesheet" href="/_content/StudySauce.Shared/css/awards.css" />
    <script>
        // Blazor's dotnet.js looks for this global to extend the WASM environment
        window.OnDotnetRuntimeAndPrimaryAssemblyLoaderReady = () => {
            window.dotnet.instance.getConfig().assets.forEach(asset => {
                if (asset.name === "dotnet.native.js") {
                    // This is where the low-level linkage happens
                }
            });
        };

        // Hard override for Emscripten
        if (!window.Module) window.Module = {};
        window.Module.env = { '__assert_fail': function() {} };
    </script>

    <ImportMap />
    <link rel="icon" type="image/png" href="_content/StudySauce.Shared/favicon.ico" />
    <AntiforgeryToken />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <ReconnectModal />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
