.status-bar-safe-area {
    display: none;
}

html, body {
    /* leaving these here so we can see what's affecting */
    padding: 0;
    margin: 0;
    /* TODO: look up cross platform system backups font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

h1, h2, h3, h4, h5 {
    outline:none;
}

*, ::before, ::after {
    box-sizing: border-box;
    outline: none; /* TODO: override this on specific elements for screen readers */
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
