@page "/analysis"

<h2>Analyze Packs</h2>

Finger print pack content and compare metadata with existing content.

<h2>Merge Packs</h2>

Merge similar packs.

<h2>Deprecated Content</h2>

Create removal and deletion schedules for old content.

