@page "/analytics"

<h2>Join Analytics</h2>

Opt-In to tracking content usage and storing with master servers.

<h2>Content Performance</h2>

Shows status related to how well each piece of user content is being used.

<h2>Create A Campaign</h2>

Start a marketing campaign for selected content.
