@page "/analysis"
@using StudySauce.Shared.Services
@inject IMenuService MenuService

<SyncedTitle Title="Content Analysis"></SyncedTitle>

<div class="flash-card">

    <h2>Analyze Packs</h2>

    Finger print pack content and compare metadata with existing content.

    <h2>Merge Packs</h2>

    Merge similar packs.

    <h2>Deprecated Content</h2>

    Create removal and deletion schedules for old content.

</div>

@code
{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MenuService.SetMenu(@<StudySauce.Shared.Pages.Shared.Content />);

    }


}


