@page "/billing"

<h2>Automatic Billing</h2>

Save payment information to enable one-click payments.

<h2>Categorical Billing</h2>

Set the billing methods for child and group users based on content type.

<h2>Recently Purchased</h2>

Recently purchased content.
