@page "/encryption"

<h2>Enable Encryption</h2>

Turn on content encryption for local and cloud storage. Enable DRM.

<h2>Import Encryption</h2>

Import backed up encryption keys for more recovery options.

<h2>Turn Off Encryption</h2>

Decrypt current content encryption and actually decode the files.

<h2>Recent Activity</h2>

Recently decryption activity in case something needs to be redone or undone.
