@page "/export"

<h2>Export Data</h2>

Extract some or all data from the system.

<h2>Export Schedule</h2>

Dump data on a schedule to somewhere else.

<h2>Export Activity</h2>

History of recent exports for reuse.

