@page "/installai"

<h2>Install AI</h2>

Instructions for setting up Automatic1111 and llama.cpp/GGUF.

<h2>Parameter Builder</h2>

Test the image generator and LLM with local HTTP requests.

<h2>Recent Activity</h2>

Usage information on what queries are being used by the application.

