@page "/content"

<h2>Recent Activity</h2>

Shows a list of any recent sales or purchase information.

<h2>Integration Status</h2>

Shows status related to connecting to other platforms.

<h2>Backup Status</h2>

Shows status for backups.
