@page "/marshal"

<h2>Join Marshalling</h2>

Become a data marshal. Share local storage for distributed striping.

<h2>Subscriptions</h2>

Automatically prioritize backing up content you like.

<h2>Tree Health</h2>

View what parts of the tree suffer when you're gone.

<h2>Recent Activity</h2>

Recently backed up content. Token rewards earned.
