@page "/merchant"

<h2>Merchant Options</h2>

Set profit sharing threshold for extra rewards.

<h2>Release Schedule</h2>

Set up content and email release schedules.

<h2>Regional Settings</h2>

Set up content released based on user locale. Enable DRM.

<h2>Recent Activity</h2>

Recently released content.
