@page "/recovery"

<h2>Account Recovery</h2>

Set 3 or more friends to maintain backups of recovery keys.

<h2>Request Recovery</h2>

Contact network members to recovery your account.

<h2>Content Recovery</h2>

See backups to set schedules and storage thresholds.

<h2>Recent Activity</h2>

Account recovery information if recently used.
