@page "/tokens"

<h2>Download Tokens</h2>

View how you've earned download tokens through the app.

<h2>Buy Tokens</h2>

Purchase more download tokens.

<h2>Gift Tokens</h2>

Give tokens away to other users.

