@page "/upload"
@implements IDisposable
@using StudySauce.Shared.Services
@inject IFileManager File
@inject IMenuService MenuService

<SyncedTitle Title="Import Packs"></SyncedTitle>

<div class="flash-card animate-in @(isDragOver ? "dropping" : "")"
     @ondragover:preventdefault="true"
     @ondragenter:preventdefault="true"
     @ondragover="HandleDragOver"
     @ondragleave="HandleDragLeave"
     @ondrop="HandleDrop">
    <div class="drop-shader"><span class="bi bi-cloud-upload"></span><br /><span>Drop Anki Files</span></div>

    <h2>Upload Anki</h2>


    Upload pack content from Anki or spreadsheet.<br />
    @if (!OperatingSystem.IsWindows())
    {
        <InputFile OnChange="HandleFileSelection" />
    }
    else
    {
        <button class="btn btn-primary" @onclick="() => File.OpenFileDialog()">
            <i class="bi bi-file-earmark-plus"></i> Open File
        </button>
    }

    <h2>Content Controls</h2>

    Import content into a group or release schedule.

    <h2>Content Sharing</h2>

    Notify users now or distribute to subscribers.

</div>


@code
{
    bool isDragOver = false;

    void HandleDragOver() => File.SetDragging(true);
    void HandleDragLeave() => File.SetDragging(false);

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MenuService?.SetMenu(@<StudySauce.Shared.Pages.Shared.Packs />);
        File.OnFileDragging += OnDragging;
    }


    protected void OnDragging(bool dragging)
    {
        isDragOver = dragging;
        StateHasChanged();
    }

    protected async Task HandleFileSelection(InputFileChangeEventArgs e)
    {
        isDragOver = false;
        // Process the dropped files
        foreach (var file in e.GetMultipleFiles())
        {
            _ = File.UploadFile(file.OpenReadStream(), file.Name);
            // Access file properties like file.Name, file.Size, etc.
            // You can read the file stream here:
            // using var stream = file.OpenReadStream();
            // ... further processing ...
        }
        StateHasChanged();
    }



    protected async Task HandleDrop(DragEventArgs e)
    {
        _ = File.SetDragging(false);
        // In Blazor Hybrid, e.DataTransfer.Files is usually populated
        if (e.DataTransfer.Files != null)
        {
            foreach (var file in e.DataTransfer.Files)
            {
                _ = File.UploadFile(file);
            }
        }

        StateHasChanged();

    }



    public void Dispose()
    {
        File.OnFileDragging -= OnDragging;
    }
}
