@page "/"
@page "/home"
@page "/{*notFound}"
@using DataLayer
@using DataLayer.Entities
@using StudySauce.Shared.Controls
@using StudySauce.Shared.Services
@inject IFormFactor FormFactor

@if(!String.IsNullOrWhiteSpace(notFound))
{
    <NotFoundControl />
    return;
}

<SyncedTitle Title="Home"></SyncedTitle>

<h1>Hello, world!</h1>

Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.

@*<MetadataControl TModel="PropertyMetadata" Model="@CurrentCategory"></MetadataControl>*@

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
    [Parameter] public string? notFound { get; set; }

    private IEnumerable<PropertyMetadata>? CurrentCategory;

    protected override void OnInitialized()
    {
        // Equivalent to: Source={x:Static data:EntityMetadata.User.Categories[Login Info]}
        // We assign the specific "Login Info" object to the Model property
        //CurrentCategory = EntityMetadata.User.Groups["Login Info"]?.ToList();
    }
}
