@page "/pack/{Id:int}"
@page "/quiz/{Id:int}"
@page "/card/{Id:int}"
@page "/demo/{Id:int}"
@inject NavigationManager Nav
@using StudySauce.Shared.Services
@using StudySauce.Shared.Controls
@using System.ComponentModel
@using System.Reflection
@using StudySauce.Shared.Utilities.Extensions
@using DataLayer.Customization

@if (Mode == null)
{
    <NotFoundControl />
    return;
}

<label>@Mode</label>
@if (Id.HasValue)
{
    <p>Viewing ID: @Id</p>
}
else
{
    <p>Viewing your own profile.</p>
}

@code {
    [Parameter] public int? Id { get; set; }

    public PackMode? Mode { get; set; }

    protected override void OnParametersSet()
    {
        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var firstSegment = relativePath.Split('/')[0];

        Mode = firstSegment.TryParse<PackMode>();
    }
}