@page "/privacy"

<SyncedTitle Title="Privacy Policy"></SyncedTitle>

<div class="panel-pane" id="privacy">
    <div class="pane-content">
        <h2><i class="bi bi-shield-lock me-2"></i> Privacy policy</h2>

        <h3>What information do we collect?</h3>
        <p>
            We collect information from you when you register on our site, place an order, subscribe to our newsletter,
            respond to a survey or fill out a form.<br /><br />
            When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address,
            mailing address, phone number or credit card information. You may, however, visit our site anonymously.<br /><br />
            Google, as a third party vendor, uses cookies to serve ads on your site. Google's use of the DART cookie enables
            it to serve ads to your users based on their visit to your sites and other sites on the Internet.
        </p>

        <h3>What do we use your information for?</h3>
        <p>
            Any of the information we collect from you may be used in one of the following ways:<br /><br />
            <ul>
                <li><strong>To personalize your experience:</strong> your information helps us to better respond to your individual needs.</li>
                <li><strong>To improve our website:</strong> we continually strive to improve our website offerings based on feedback.</li>
                <li><strong>To improve customer service:</strong> helps us effectively respond to support needs.</li>
                <li><strong>To process transactions:</strong></li>
            </ul>
        </p>
        <blockquote class="border-start ps-3 italic">
            <p>
                Your information, whether public or private, will not be sold, exchanged, transferred, or given
                to any other company for any reason whatsoever, without your consent, other than for the express purpose
                of delivering the purchased product or service requested.
            </p>
        </blockquote>

        <h3>How do we protect your information?</h3>
        <p>
            We implement a variety of security measures to maintain the safety of your personal information.
            <br /><br /><strong>Do we use cookies?</strong><br /><br />
            Yes. We use cookies to help us remember and process the items in your shopping cart, understand preferences,
            and compile aggregate data about site traffic.
        </p>

        <h4>Terms and Conditions</h4>
        <p>
            Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of
            liability governing the use of our website at
            <a href="terms">www.studysauce.com/terms</a>.
        </p>

        <h4>Your Consent</h4>
        <p>By using our site, you consent to our <a href="privacy">privacy policy</a>.</p>

        <h4>Changes to our Privacy Policy</h4>
        <p>This policy was last modified on 8/30/2013</p>

        <h4>Contacting Us</h4>
        <address>
            <a href="/">www.studysauce.com</a><br />
            19621 N 96th Pl<br />
            Scottsdale, Arizona 85255<br />
            United States<br />
            <a href="mailto:support@studysauce.com">support@studysauce.com</a><br />
            (480) 331-8570
        </address>

        <div class="highlighted-link mt-4">
            <NavLink class="btn btn-primary" href="/">
                <i class="bi bi-house-door"></i> Go home
            </NavLink>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public MainLayout? Layout { get; set; }

    protected override void OnInitialized()
    {
        // Define the contextual menu for THIS page
        Layout?.SetHeaderMenu(@<StudySauce.Shared.Pages.Shared.Terms />);
    }

}