@page "/store"
@using StudySauce.Shared.Services
@inject IMenuService MenuService

<SyncedTitle Title="Store"></SyncedTitle>

<div class="flash-card">

    <h2>Newly Added</h2>


    <h2>Packs You Might Like</h2>


    <h2>Packs You Own</h2>
</div>

@code {

    protected override void OnInitialized()
    {
        // Define the contextual menu for THIS page
        MenuService?.SetMenu(@<StudySauce.Shared.Pages.Shared.Packs />);
    }

}